:root {
  --font-default: "lato", Arial, sans-serif;
  --font-secondary: "roboto", Arial, sans-serif;
}
* {
  font-family: var(--font-default);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input {
  padding-left: 0.5rem;
}
::placeholder {
  font-size: 1rem;
  color: #fff;
}

/***************************************HEADER***********************************************/
header {
  width: 100%;
  color: #d04f4f;
  text-align: center;
  padding-top: 1rem;
}

/***********************************PRINCIPAL SEARCH*****************************************/
.main-search {
  display: flex;
  align-items: center;
  width: 90%;
  height: 3rem;
  text-align: center;
  background-color: #e7e7e7;
  border-radius: 0.3rem;
  margin: 1.5rem auto;
}
.search {
  width: 96%;
  border: none;
  border-radius: 0.3rem;
  height: 3rem;
  background-color: #e7e7e7;
  padding-left: 1rem;
  font-size: 1.125rem;
}
.search:focus {
  outline: none;
}
.search::placeholder {
  font-size: 1.125rem;
  color: #c7bebe;
  padding-left: 0.5rem;
}
.fa-magnifying-glass {
  padding-right: 0.5rem;
  color: #000;
}

/**********************SECONDARY SEARCH****************************/

.container-secondary-search {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 6rem;
}
.container-ingredient,
.container-appliance,
.container-ustensil {
  margin-right: 1.5rem;
}
.input-ingredient,
.input-appliance,
.input-ustensil {
  position: relative;
}
.input-ingredient > input {
  background-color: #3282f7;
  outline-color: #3282f7;
}
.input-appliance > input {
  background-color: #68d9a4;
  outline-color: #68d9a4;
}
.input-ustensil > input {
  background-color: #ed6454;
  outline-color: #ed6454;
}
.input-ingredient > input,
.input-appliance > input,
.input-ustensil > input {
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  border: none;
}
.fa-chevron-down {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: #fff;
}
/*********************Display Recipes*******************************/
.container-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
}
.link-recipe {
  border: none;
}
.article-recipe {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  overflow: hidden;
}
.article-picture {
  width: 100%;
  height: 12rem;
  background-color: #c7bebe;
}
.article-header {
  display: flex;
  justify-content: space-between;
  background-color: #e7e7e7;
  padding: 0.8rem;
}
.article-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 8rem;
  font-size: 0.75rem;
  padding: 1rem;
  background-color: #e7e7e7;
}
.description p,
.composition p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: justify;
  font-family: var(--font-secondary);
  padding-right: 1em;
}
.composition p {
  text-align: left;
}
/****************Display Lists*************************/
.list-appliances,
.list-ustensils,
.list-ingredients {
  position: relative;
  column-count: 3;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 1.125rem;
  color: #fff;
  padding: 0.5rem;
  z-index: 1;
}
.list-ingredients,
.button-ingredient {
  background-color: #3282f7;
}
.list-appliances,
.button-appliance {
  background-color: #68d9a4;
}
.list-ustensils,
.button-ustensil {
  background-color: #ed6454;
}
.button-ingredient,
.button-appliance,
.button-ustensil {
  display: block;
  border: none;
  color: #fff;
  padding: 0.3rem;
  text-align: left;
}
/******************Tags*****************************/
.container-tags {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.container-tags span {
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0.3rem;
}
